.negative {
            color:red;
            font-size: 5rem;
        }

.postivie {
            color:green;
}

h1  {
    text-align: center;
    color: darkgreen;
}

h2  {
    text-align: center;
    font-style: italic;
}

body  {
    background-color: beige;
}

textarea  {
    font: inherit;
    height: 10rem;
    width: 50rem;

}

label {
    display:inline-block;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 5rem;
}