{% extends 'base.html' %}

{% block content %}
<!--keeping body truncated to link to blogs individual site to make author blogs page more friendly-->
<!--since linked by auth_id which is a Blog attribute must only use Blog attribs not User attribs, 
hence blog.author.username rather than user.username-->

<h1>Blogs by {{ author }}</h1>
<ul>    
    {% for blog in pages.items %}
      <h1><a href="{{ url_for('see_blog_page', blog_id=blog.id) }}">{{ blog.title|title }}</a></h1>
      <!--by {{ blog.author.username }}-->
        <br>
       written  {{ blog.entry_date }}
        <br>
        {{ blog.body|truncate(50) }}
    {% endfor %}
</ul>



{% endblock %}

{% block footer %}
    <div class="page-selects">
    {% if pages.has_prev %}
        <a href="{{ url_for('see_blogs_by_auth_page', auth_id=auth_id, page=pages.prev_num) }}">&lt;&lt; Newer blogs</a>
        {% else %}
            &lt;&lt; Newer blogs |-->
            <!--displays Newer blogs without link since has_prev false-->
        {% endif %}
    {% if pages.has_next %}
        <a href="{{ url_for('see_blogs_by_auth_page', auth_id=auth_id, page=pages.next_num) }}">Older Blogs &gt;&gt;</a>
        {% else %}
            Older blogs &gt;&gt;
            <!--ditto for older blogs (next page) display-->
        {% endif %} 
    </div>
{% endblock %}