{% extends 'base.html' %}

{% block content %}
    

    <!--{% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category, message in messages %}
            <li class="{{category}}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endwith %}-->

    <h1>Blog City Baby!</h1>
    <h2>population: you</h2>

    {% if blogs %}
    <h3>Ye Olde Posts!!</h3>
    <p>Read and Cringe!</p>
        <ul>
           
            {% for blog in blogs %}
            <li><a href="{{ url_for('see_blog_page', blog_id=blog.id) }}">{{ blog.title }}</a></li>
            <!--TODO make author link to page with author's other blogs-->
             by <a href="{{ url_for('see_blogs_by_auth_page', auth_id=blog.author.id) }}">{{ blog.author.username }}</a>
             <br>
             {{ blog.entry_date }}
             <br>
             {{ blog.body|truncate(20) }}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
