{% extends 'base.html' %}
{% block content %}
 <!--<h3><a href="/">Home</a></h3>-->

    <h1>Blog Flog!</h1>
    <form action="/new_blog" method ='post'>
        <label>Phresh Blog, Dog!</label>
        <input type="text" name="blogtitle" value="{{ title }}"/>
        <p>What do you have to say?</p> 
        <textarea name="body">{{ body }}</textarea>
        <input type="submit" value="Blog It!" />
    </form>

    <!--{#    <input type="hidden" name="blog-id" value='{{ blog.id }}'/>  #}-->

   
{% endblock %}